einops==0.4.1
imageio==2.21.1
lpips==0.1.4
matplotlib==3.5.3
mmcv==1.6.1
numpy==1.21.5
open3d==0.16.1
opencv_python==4.6.0.66
pyopenvdb==0.1.4
scipy==1.7.3
skimage==0.0
torch_efficient_distloss==0.1.3
torch_scatter==2.0.9
tqdm==4.64.0

torch==1.10.0
torchaudio==0.10.0+cu113
torchvis==0.4.0
torchvision==0.11.1+cu113
